@charset "utf-8";

/*CSSは基本クラス単位で設定した方が良さそう*/
/*bodyとか全体的に設定すべきことは一括してやる*/

body {
    background: whitesmoke;
    font-family: Meiryo;
}

.lead{
    font-size: 18pt;
    font-family: "Apple Chancery";
}

.form {
    background: white;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    /*border: 1px solid darkgray;*/
    margin: 5px auto;

}

.section{
    padding: 5px 7px;
    background-color: white;
    font-size: medium;
    color: white;
    margin: 25px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 1px #BBBBBB;
    word-wrap: break-all;
}

.tableA{
    width: 80%;
    margin: 0px;
    border-collapse: separate;
    border-spacing: 0px 2px;
    padding: 10pt 0pt;
}

.tableA th{
    background: mediumaquamarine;
    vertical-align: middle;
    text-align: left;
    width: 20%;
    max-width: 110px;
    position: relative;
    color: #ffffff;
    font-weight: normal;
    font-size: 14pt;
    padding: 5px 5px;
}

.tableA td{
    width: 60%;
    max-width: 330px;
    background: white;
    padding-left: 10px;
    font-size: 12pt;
    color: black;
    word-wrap: break-word;
}

.result{
    position: relative;
    top: 1px;
    width: 100%;
    margin: 3px auto;
}
